# Copyright 2023-2025 The Khronos Group Inc.
# Copyright 2023-2024 Valve Corporation
# Copyright 2023-2024 LunarG, Inc.
# Copyright 2023-2025 RasterGrid Kft.
#
# SPDX-License-Identifier: Apache-2.0

name: ci

on:
  push:
  pull_request:
    branches:
    - sc_main

jobs:
  build_and_test:
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        config: [Debug, Release]
        os: [ ubuntu-22.04, ubuntu-24.04, windows-latest ]
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python 3.8
        if: matrix.os != 'macos-latest'
        uses: actions/setup-python@v5
        with:
          python-version: '3.8'
      # MacOS machine can run on arm64 and it doesn't support 3.8
      - name: Set up Python 3.10.11
        if: matrix.os == 'macos-latest'
        uses: actions/setup-python@v5
        with:
          python-version: '3.10.11'
      - name: Test CMake Minimum
        if: matrix.os == 'ubuntu-22.04'
        uses: lukka/get-cmake@latest
        with:
          cmakeVersion: 3.22.1
      - run: cmake -S. -B build -D VUL_WERROR=ON -D BUILD_TESTS=ON -D CMAKE_BUILD_TYPE=${{matrix.config}} -D UPDATE_DEPS=ON
      - run: cmake --build build --config ${{matrix.config}} --verbose
      - run: ctest -C ${{matrix.config}} --output-on-failure
        working-directory: build/

  windows-arm64:
    runs-on: windows-latest
    env:
      CMAKE_GENERATOR: Ninja
    steps:
      - uses: actions/checkout@v5
      - uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: amd64_arm64
      - run: cmake -S. -B build -D VUL_WERROR=ON -D CMAKE_BUILD_TYPE=Debug -D UPDATE_DEPS=ON
      - run: cmake --build build
      - run: cmake --install build --prefix build/install
 
  reuse:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: REUSE Compliance Check
      uses: fsfe/reuse-action@v5

  generate_source:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Generate source
        run: |
          scripts/update_deps.py --dir external --no-build
          scripts/generate_source.py external/Vulkan-Headers/registry/
      - run: git diff --exit-code
